{$ (use mendoza/template) $}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ (dyn :title) }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css">
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
  </head>
  <body>
    <header><h1>{{ (dyn :title) }}</h1></header>
    {{ {:template (from-file "templates/menu.html")} }}
    {{ content }}
  </body>
</html>
